{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
	<div class="h-60vh container d-flex justify-content-center align-items-center">
		<div class="d-flex flex-column mr-3">
			<a class="btn btn-secondary mb-2" href="{{ url('admin_user_update', { id: user.id }) }}">update</a>
			<a class="btn btn-danger" href="{{ url('admin_user_delete', { id: user.id }) }}">delete</a>
		</div>
		<div class="w-50">
			<table>
				<tbody>
					<tr>
						<td class="w-25">name</td>
						<td class="w-25">{{ user.name }}</td>
					</tr>
					<tr>
						<td>email</td>
						<td>{{ user.email }}</td>
					</tr>
					<tr>
						<td>Roles</td>
						<td>
							{% for role in user.roles %}{{ role }}, {% endfor %}
						</td>
					</tr>
					<tr>
						<td>active</td>
						<td>
							{% if(user.active) %}
								active
							{% else %}
								inactive
							{% endif %}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
