<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Welcome!{% endblock %}</title>
	{% block stylesheets %}
		<link href="{{ asset('css/bootstrap-v4.4.1.min.css') }}" rel="stylesheet">
		<link href="{{ asset('css/style.css') }}" rel="stylesheet">
	{% endblock %}
</head>
<body>
<nav class="navbar">
	<div class="nav-item mr-auto">
		<a class="navbar-link" href="{{ url('front_index') }}">Home</a>
		{% if is_granted('ROLE_ADMIN') %}
			<a class="navbar-link" href="{{ url('security_logout') }}">user list</a>
			<a class="navbar-link" href="{{ url('security_logout') }}">add user</a>
		{% endif %}
	</div>
	{% if is_granted('ROLE_USER') %}
	<div class="dropdown ml-auto">
		<button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
			Account
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item" href="#">XxX</a>
			<a class="dropdown-item" href="{{ path('security_logout') }}">logout</a>
		</div>
	</div>
	{% else %}
		<div>
			<a class="navbar-link btn btn-primary" href="{{ url('security_login') }}">login</a>
		</div>
	{% endif %}
</nav>
{% block body %}{% endblock %}
<footer></footer>
{% block javascripts %}
	<script src="{{ asset('js/jquery.slim.min.js') }}"></script>
	<script src="{{ asset('js/popper.min.js') }}"></script>
	<script src="{{ asset('js/bootstrap.min.js') }}"></script>
	<script>
        $('.dropdown-toggle').dropdown();
	</script>
{% endblock %}
</body>
</html>
